In [1]:
import datetime
from pathlib import Path
import pickle
import pandas as pd
import yfinance as yf
import statsmodels.api as sm
import matplotlib.pyplot as plt
import numpy as np

In [2]:
TODAY = datetime.date.today()
data = yf.download("GOOG", "2021-05-23", TODAY.strftime("%Y-%m-%d"))
data[h]

[*********************100%***********************]  1 of 1 completed

In [3]:
data.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-05-24,118.349998,120.924004,118.005501,120.333504,120.333504,21244000
2021-05-25,121.000000,121.644501,120.149498,120.453499,120.453499,18838000
2021-05-26,120.641747,122.147202,120.625748,121.676498,121.676498,21856000
2021-05-27,121.847000,122.000000,120.099998,120.125504,120.125504,38962000
2021-05-28,121.098000,121.406998,120.384499,120.578003,120.578003,24108000

In [4]:
data.describe()

,Open,High,Low,Close,Adj Close,Volume
count,292.000000,292.000000,292.000000,292.000000,292.000000,2.920000e+02
mean,132.458033,133.875360,130.985094,132.423146,132.423146,2.646603e+07
std,11.987499,11.706515,11.982238,11.819195,11.819195,1.035809e+07
min,105.141998,106.394997,102.208000,105.839500,105.839500,1.186600e+07
25%,124.943686,125.713003,124.312363,124.845625,124.845625,1.909900e+07
50%,135.497749,136.876495,133.592499,135.675247,135.675247,2.411700e+07
75%,142.194000,143.354877,141.001869,142.191875,142.191875,3.106050e+07
max,151.863495,152.100006,149.887497,150.709000,150.709000,8.975000e+07

In [7]:
df_forecast = data.copy()
df_forecast.reset_index(inplace=True)

,Date,Open,High,Low,Close,Adj Close,Volume
0,2021-05-24,118.349998,120.924004,118.005501,120.333504,120.333504,21244000
1,2021-05-25,121.000000,121.644501,120.149498,120.453499,120.453499,18838000
2,2021-05-26,120.641747,122.147202,120.625748,121.676498,121.676498,21856000
3,2021-05-27,121.847000,122.000000,120.099998,120.125504,120.125504,38962000
4,2021-05-28,121.098000,121.406998,120.384499,120.578003,120.578003,24108000
...,...,...,...,...,...,...,...
287,2022-07-14,110.825996,111.987503,109.325500,111.440002,111.440002,32366000
288,2022-07-15,112.962997,114.000504,111.822502,112.766998,112.766998,34330000
289,2022-07-18,113.440002,114.800003,109.300003,109.910004,109.910004,33354000
290,2022-07-19,111.730003,114.809998,110.500000,114.620003,114.620003,30992300
291,2022-07-20,114.059998,116.330002,113.260002,114.699997,114.699997,26757000